openapi: 3.0.1
info:
  title: OMDb API
  description: >-
    This API requires authorization, you can get a free key here:
    [http://omdbapi.com/apikey.aspx](http://omdbapi.com/apikey.aspx)
  termsOfService: http://omdbapi.com/legal.htm
  contact:
    email: bfritz@fadingsignal.com
  license:
    name: CC BY-NC 4.0
    url: https://creativecommons.org/licenses/by-nc/4.0/
  version: '1.0'
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: http://omdbapi.com/
  - url: https://omdbapi.com/
security:
   - ApiKeyAuth: []
tags:
  - name: Title Parameter
    description: e.g. ?t=title
  - name: ID Parameter
    description: e.g. ?i=tt0000001
  - name: Search Parameter
    description: e.g. ?s=title
paths:
  /:
    get:
      tags:
        - Search Parameter
      summary: Returns an array of results for a given title
      operationId: titleSearch
      parameters:
        - name: s
          in: query
          description: Title of movie or series
          required: true
          schema:
            type: string
        - name: 'y'
          in: query
          description: Year of release
          schema:
            type: integer
        - name: type
          in: query
          description: Return movie or series
          schema:
            type: string
            enum:
              - movie
              - series
        - name: r
          in: query
          description: The response type to return
          schema:
            type: string
            enum:
              - json
              - xml
        - name: page
          in: query
          description: Page number to return
          schema:
            type: integer
        - name: callback
          in: query
          description: JSONP callback name
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SearchResponse'
                  - $ref: '#/components/schemas/SearchResponses'
        401:
          description: Not authenticated
          content: {}
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: apikey
      in: query
  schemas:
    SearchResponse:
      description: Type SearchResponse
      type: object
      required: [Title, Year, Director]
      properties:
        Title:
          type: string
          example: Countdown
        Year:
          type: string
          example: "1967"
        Director:
          type: string
          example: "John Doe"
        Response:
          example: "True"
          type: boolean
    SearchResponses:
      description: Type SearchResponses
      type: array
      items:
        type: object
        required: [Title, Year, Director]
        properties:
          Title:
            type: string
            example: Countdown
          Year:
            type: string
            example: "1967"
          Director:
            type: string
            example: "John Doe"
          Response:
            example: "True"
            type: boolean
x-original-swagger-version: '2.0'